<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <h2>Enter the company details</h2>
    </head>
    <body>
        <form method="post" action ="/post_company_data">
            <label>Name:</label>
            <input id:"name" name="name" type="text"/></br></br>
            <label>Category:</label>
            <input id:"category" name="category" type="text"/></br></br>
            <label>Address:</label>
            <input id:"address" name="address" type="text"/></br></br>
            <label>Email:</label>
            <input id:"email" name="email" type="text"/></br></br>
            <input type="submit"/>
        </form>

    </body>
</html>
