<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the website</title>
        <meta charset="utf-8" />
        <h1> Welcome to the project</h1>
    </head>
    <body>
        Choose your option</br></br>
        <form method="get" action ="/get_company_list">
            <button name="list" type="submit">Company List</button></br></br>
        </form>
        <form method="get" action ="/add_company">
            <button name="company" type="submit">Add company</button></br></br>
        </form>
    </body>
</html>
